<nav id="sidebar">

    <div class="sidebar-header">
        <h3>INDRA SAE</h3>
    </div>

  <ul class="list-unstyled components">
    <p>Cursos Libres</p>
    <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">IBM Operational Decision Manager V8.10</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li *ngFor="let item of items; let i = index" (click)="onClick( item )">
                  <a href="#">{{ item.titulo }}</a>
              </li>

          </ul>
    </li>
    <li class="active">
        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">IBM BPM</a>
    </li>
    <li class="active">
       <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">IBM App conect</a>
    </li>    

  </ul>
</nav>